<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Clinic</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid p-3">
            <div class="jumbotron bg-light p-3">
                <h1>Clinic</h1>
                <form class="form-group d-flex" method="POST">
                    <input type="text" class="form-control" id="send" placeholder="Name">
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
            
        </div>
    </body>
</html>